/* # Setup devices width */
/* # Variables for mobile first approach and strict ranges */
/*Components*/
.button,
.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.button:hover,
.button:link:hover,
.button:visited:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.button._white,
.button:link._white,
.button:visited._white {
  color: #cc0200;
  background: #fff;
}
.button._red,
.button:link._red,
.button:visited._red {
  color: #fff;
  background: #cc0200;
}
.button._big,
.button:link._big,
.button:visited._big {
  padding: 1.7rem 3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
}
.form {
  height: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media only screen and (min-width: 768px) {
  .form {
    height: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .form {
    height: 4.7rem;
  }
}
.form__field {
  height: 100%;
  border-radius: 2.5rem 0 0 2.5rem;
  border: 1px solid #979797;
  border-right: none;
  outline: none;
  padding-left: 1rem;
}
.form__field:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .form__field {
    padding-left: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .form__field {
    display: inline-block;
  }
}
.form__submit {
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0 2.5rem 2.5rem 0;
}
.form__submit:focus {
  outline: none;
}
.promo {
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1), -0.5rem 0 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1), -0.5rem 0 1.5rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .promo {
    padding: 3rem 2rem;
  }
}
.promo__card {
  width: calc(100%);
  padding: 2rem;
}
@media only screen and (min-width: 768px) {
  .promo__card {
    padding: 0 2rem;
    width: calc(100%/2);
  }
}
@media only screen and (min-width: 992px) {
  .promo__card {
    padding: 0 4rem;
    width: calc(100%/3);
  }
}
.promo__img {
  margin-bottom: 2rem;
}
.promo__step {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.promo__description {
  font-size: 1.6rem;
  font-weight: 100;
}
.promo__description-part {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .promo__btn {
    position: absolute;
    bottom: 4.5rem;
    right: 7rem;
  }
}
.promo__registration {
  display: none !important;
}
@media only screen and (min-width: 992px) {
  .promo__registration {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 992px) {
  .promo__rule-link {
    display: none !important;
  }
}
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 26, 2017 12:11 PM */
@font-face {
  font-family: 'Gotham Pro';
  src: url('../font/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'), url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Medium.woff') format('woff'), url('../font/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../font/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'), url('../font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Bold.woff') format('woff'), url('../font/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('../font/GothamProNarrow-Bold.eot');
  src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'), url('../font/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'), url('../font/GothamProNarrow-Bold.woff') format('woff'), url('../font/GothamProNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url('../font/GothamProNarrow-Medium.eot');
  src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'), url('../font/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'), url('../font/GothamProNarrow-Medium.woff') format('woff'), url('../font/GothamProNarrow-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../font/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'), url('../font/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Light.woff') format('woff'), url('../font/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../font/GothamPro-Black.eot');
  src: local('Gotham Pro Black'), local('GothamPro-Black'), url('../font/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Black.woff') format('woff'), url('../font/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../font/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'), url('../font/GothamPro.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro.woff') format('woff'), url('../font/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.row {
  margin: 0 auto;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  .row {
    padding: 0 4rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 7rem;
}
@media only screen and (min-width: 992px) {
  .row {
    max-width: 114rem;
  }
}
@media only screen and (min-width: 1200px) {
  .row {
    padding: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 10px;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.header {
  background-color: #cc0200;
  position: relative;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    background-color: #fff;
  }
}
.header_top {
  padding: 2rem 1.5rem;
  min-height: 6.5rem;
}
@media only screen and (min-width: 768px) {
  .header_top {
    padding: 2.5rem 2rem;
    min-height: 7.5rem;
    border-bottom: 2px solid #cc0200;
  }
}
@media only screen and (min-width: 992px) {
  .header_top {
    padding: 3.5rem 2rem;
    min-height: 9.5rem;
  }
}
.header__nav {
  text-align: center;
  width: 100%;
  padding: 0 0 15rem;
  background-color: #cc0200;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header__nav {
    display: inline-block;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    left: 0;
  }
  .header__nav._hidden {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header__nav {
    background-color: #fff;
    padding: 0;
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .header__btn {
    display: none !important;
  }
}
.header__nav-snow {
  position: fixed;
  bottom: -5%;
  left: -5%;
}
@media only screen and (min-width: 992px) {
  .header__nav-snow {
    display: none;
  }
}
.header__logo-box {
  height: 2.5rem;
  width: 12rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .header__logo-box {
    height: 2.1rem;
    width: 10rem;
    position: static;
    float: left;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-right: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .header__logo-box {
    margin-right: 5.5rem;
  }
}
.header__logo-box > svg * {
  fill: #fff;
}
@media only screen and (min-width: 768px) {
  .header__logo-box > svg * {
    fill: #cc0200;
  }
}
.hidden-menu {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  padding: .2rem 0;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}
@media only screen and (min-width: 768px) {
  .hidden-menu {
    float: right;
    font-size: 0;
    width: 3.5rem;
    height: 0;
    border-bottom: 0.4rem solid #666;
  }
}
@media only screen and (min-width: 992px) {
  .hidden-menu {
    display: none;
  }
}
.hidden-menu::after,
.hidden-menu::before {
  content: '';
  display: inline-block;
  height: .2rem;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .hidden-menu::after,
  .hidden-menu::before {
    background-color: #666;
    height: .4rem;
  }
}
.hidden-menu::after {
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .hidden-menu::after {
    top: 2.5rem;
  }
}
.hidden-menu::before {
  top: .4rem;
}
@media only screen and (min-width: 768px) {
  .hidden-menu::before {
    top: 1.4rem;
  }
}
.hidden-menu._open {
  font-size: 0;
  width: 3.5rem;
}
@media only screen and (min-width: 768px) {
  .hidden-menu._open {
    border: none;
  }
}
.hidden-menu._open::after,
.hidden-menu._open::before {
  width: 1.6rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  left: .7rem;
}
@media only screen and (min-width: 768px) {
  .hidden-menu._open::after,
  .hidden-menu._open::before {
    width: 2.6rem;
  }
}
.hidden-menu._open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: .7rem;
}
.hidden-menu._open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: .7rem;
}
.logo-box {
  display: inline-block;
}
.logo-box > svg {
  height: 100%;
  width: 100%;
}
.inf-box {
  display: none;
}
@media only screen and (min-width: 992px) {
  .inf-box {
    margin-top: -2rem;
    display: inline-block;
    position: absolute;
  }
}
.inf-box__item:not(:last-child) {
  margin-bottom: .3rem;
}
.inf-box__phone {
  font-size: 2rem;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: bold;
}
.inf-box__text {
  font-size: 1.4rem;
}
.inf-box__mode {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.inf-box__mode-time {
  font-weight: normal;
}
.inf-box_footer > .inf-box__mode {
  display: none;
}
.label {
  display: none;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .label {
    display: inline-block;
    float: left;
    background-color: #cc0200;
    height: 3rem;
    width: 16rem;
    padding: 0 1.5rem;
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    border-radius: 3px;
  }
}
@media only screen and (min-width: 992px) {
  .label {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .label {
    display: inline-block;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
}
.label__text {
  font-size: 1.4rem;
  line-height: 3rem;
}
.label__point {
  background-color: #fff;
  display: inline-block;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.compare {
  display: none;
}
@media only screen and (min-width: 992px) {
  .compare {
    display: inline-block;
    float: right;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #666;
    margin-right: 2rem;
  }
  .compare__link,
  .compare__linl:link,
  .compare__linl:link {
    text-decoration: none;
    color: #4898cb;
  }
  .compare__link:hover,
  .compare__linl:link:hover,
  .compare__linl:link:hover {
    text-decoration: underline;
  }
}
.shopcart-box {
  display: none;
  height: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .shopcart-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    margin-right: 2rem;
  }
}
.shopcart-box > svg {
  height: 100%;
  margin-right: 1rem;
}
.shopcart-box > svg * {
  fill: #323232;
}
.shopcart-box__product-qty {
  display: inline-block;
  height: 90%;
  min-width: 3.5rem;
  text-align: center;
  border: 1px solid #95ac73;
  border-radius: 1rem;
  line-height: 90%;
  font-size: 1.4rem;
  font-weight: bold;
  padding: .4rem;
  margin-right: 2rem;
}
@media only screen and (min-width: 992px) {
  .shopcart-box__product-qty {
    display: none;
  }
}
.nav {
  list-style: none;
  padding: 3rem 0;
}
@media only screen and (min-width: 992px) {
  .nav {
    padding: 0;
    height: 6.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    padding: 0 8.5rem;
  }
}
.nav__item {
  font-weight: 100;
  height: 6rem;
  width: 100%;
  line-height: 6.5rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
@media only screen and (min-width: 992px) {
  .nav__item {
    padding: 0 1rem;
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.nav__link,
.nav__link:link,
.nav__linl:visited {
  color: inherit;
  text-decoration: none;
}
.heading-primary {
  color: #fff;
  font-size: 6rem;
}
@media only screen and (min-width: 768px) {
  .heading-primary {
    font-size: 8rem;
  }
}
.heading-sub {
  color: #fff;
  font-size: 2rem;
}
.heading-tertiary {
  color: #fff;
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .content {
    margin-top: 6.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    margin-top: 7.5rem;
  }
}
.wrap {
  height: 100%;
  background: url('../img/snow.png') bottom repeat-x;
  padding: 2rem 0 0;
}
.section-heading {
  background: radial-gradient(at top, #e71c1a, #b90200);
  text-align: center;
  overflow: hidden;
  position: relative;
}
.section-heading .img-box {
  margin-top: -3rem;
}
.section-heading .snowflake_1,
.section-heading .snowflake_2,
.section-heading .snowflake_3 {
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .section-heading .snowflake_1,
  .section-heading .snowflake_2,
  .section-heading .snowflake_3 {
    display: none;
  }
}
.section-heading .snowflake_1 {
  top: 18rem;
  left: -12rem;
}
.section-heading .snowflake_2 {
  top: -8rem;
  left: 35rem;
}
.section-heading .snowflake_3 {
  top: 7rem;
  right: -13rem;
}
.section-heading .snowflake-composition_1,
.section-heading .snowflake-composition_2 {
  position: absolute;
}
.section-heading .snowflake-composition_1 {
  top: 4rem;
  left: 1rem;
}
.section-heading .snowflake-composition_2 {
  bottom: 5rem;
  right: 7rem;
}
@media only screen and (min-width: 768px) {
  .section-heading__bread-crumbs {
    float: left;
  }
}
.section-heading__btn {
  position: relative;
  top: 27rem;
}
@media only screen and (min-width: 768px) {
  .section-heading__btn {
    position: static;
    float: right;
  }
}
.section-heading__heading-box {
  position: relative;
  bottom: 5rem;
  margin-bottom: 17rem;
}
@media only screen and (min-width: 768px) {
  .section-heading__heading-box {
    position: static;
  }
}
.section-heading__heading,
.section-heading__heading-sub {
  width: 30rem;
  margin: 1rem auto 0;
}
.section-heading__heading-sub {
  line-height: 3rem;
}
.section-heading .img-snow {
  margin-bottom: -1rem;
  margin-left: -1rem;
}
.bread-crumbs {
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
}
.bread-crumbs__item {
  display: inline-block;
  padding: 1rem 0;
  cursor: pointer;
  margin: 0 2rem;
}
.bread-crumbs__item:last-child {
  font-weight: 100;
}
.bread-crumbs__link {
  text-decoration: none;
  color: inherit;
}
.section-promo .promo {
  position: relative;
  top: -13rem;
}
.footer-wrap {
  margin: 0 2rem;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  .footer-wrap {
    max-width: 117rem;
    margin: 0 auto;
  }
}
.footer {
  color: #fff;
  background-color: #323232;
  overflow: hidden;
  padding: 2rem 0;
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
  }
}
.footer__block > * {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer__block {
    width: calc(100%/2);
    float: right;
  }
}
@media only screen and (min-width: 992px) {
  .footer__block._right {
    text-align: right;
  }
}
.footer__heading-string {
  display: inline-block;
  width: 100%;
}
.footer__logo-box {
  height: 2rem;
  width: 10rem;
}
@media only screen and (min-width: 992px) {
  .footer__logo-box {
    height: 3rem;
    width: 15rem;
  }
}
.footer__logo-box > svg * {
  fill: #fff;
}
.faq-list {
  list-style: none;
}
.faq-list__item {
  line-height: 2.7rem;
}
@media only screen and (min-width: 992px) {
  .faq-list__item {
    line-height: 2rem;
  }
}
.faq-list__link {
  text-decoration: none;
  color: inherit;
}
.subscribe {
  color: inherit;
}
.subscribe__field {
  width: 15rem;
}
@media only screen and (min-width: 768px) {
  .subscribe__field {
    width: 16rem;
  }
}
@media only screen and (min-width: 992px) {
  .subscribe__field {
    width: 24rem;
  }
}
.subscribe__field:focus {
  border: 1px solid #cc0200;
}
.subscribe__submit {
  padding: 0 1rem;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background: #cc0200;
}
@media only screen and (min-width: 768px) {
  .subscribe__submit {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .subscribe__submit {
    padding: 0 4.5rem;
  }
}
.subscribe-capture {
  display: inline-block;
  width: 66%;
}
.social-list {
  list-style: none;
}
.social-list__item {
  display: inline-block;
}
.social-list__link {
  display: inline-block;
  height: 4rem;
  width: 4rem;
}
.social-list__link > svg {
  height: 100%;
  width: 100%;
  fill: #fff;
}
.search {
  display: none;
}
@media only screen and (min-width: 768px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin-top: -1rem;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .search {
    margin-top: -1.5rem;
  }
}
.search__field {
  display: none;
}
.search__field:focus {
  border: 1px solid #4898cb;
}
@media only screen and (min-width: 992px) {
  .search__field {
    display: inline-block;
    width: 27rem;
  }
}
.search__submit {
  background: #4898cb url('../img/ico_search.svg') center no-repeat;
  background-size: 2rem;
  width: 5rem;
  border-radius: 50%;
}
@media only screen and (min-width: 992px) {
  .search__submit {
    border-radius: 0 2.5rem 2.5rem 0;
    width: 4.5rem;
  }
}
